* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 24px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ECF2F8;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.purple, .grey, .white, .black, .last{
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    border-radius: 8px;
}
.purple{
    width: 100%;
    background-color: #733FC8;
    position: relative;
}
.purpletitle, .greytitle, .lasttitle, .whitetitle, .blacktitle{
    display: flex;
    margin-top: 27px;
    gap:17px;
    height: 28px;
}
.purpleimage, .lastimage, .greyimage, .whiteimage, .blackimage{
    margin-left: 32px;
    border-radius: 50%;
    height: 28px;
}
.purpleimage, .blackimage{
    background: url(Image.png);
    border: 2px solid #A775F1;
}
.purplenames, .greynames, .blacknames{
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    height: 28px;
}
.graduate, .greygraduate, .lastgraduate, .blackgraduate, .whitegraduate{
    opacity: 0.5;
    margin-top: 4px;
}
.bgpattern{
    height: 102px;
    position: absolute;
    right: 24px;
    top: 0px;
}
.title, .greymaintitle, .lastmaintitle, .blackmaintitle, .whitemaintitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    margin-left: 32px;
}
.title, .greymaintitle, .blackmaintitle{
    color: #FFFFFF;
}
.title{
    position: absolute;
    height: 120px;
}
.pparagraph, .greyp{
    margin-top: 178px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #CFCFCF;
    opacity: 0.7;
    height: 180px;
    margin-left: 32px;
}
.grey{
    width: 100%;
    background: #48556A;
    margin-top: 24px;
}
.greyimage{
    background: url(Image.png);
    border: 2px solid #48556A;
}
.greymaintitle{
    height: 48px;
}
.greyp{
    margin-top: 16px;
    /* height: 180px; */
}
.white{
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 24px;
}
.whitenames{
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color:  #48556A;
    height: 28px;
}
.last{
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color:  #48556A;
}
.whitemaintitle{
    color: #48556A;
    font-size: 20px;
}
.whitep, .lastp{
  color: #48556A;
  margin-top: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.7;
  height: 180px;
  margin-left: 32px;
}
.black{
    width: 100%;
    background-color: #19202D;
    margin-top: 24px;
}
.blackp{
    margin-top: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #CFCFCF;
    opacity: 0.7;
    height: 180px;
    margin-left: 32px;
}
.last{
    width: 100%;
    background: #FFFFFF;
    margin-top: 24px;
}
@media(min-width:1440px){
 .container{
    display:grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 282px 266px;
    column-gap: 30px;
    row-gap: 24px;
    align-items: center;
 }
 .purple{
    grid-column: 1/3;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    margin-top: none;
    height: 100%;
    margin:0;
 }
 .purpleimage, .greyimage{
    margin-left: 0px;
 }
 .bgpattern{
    margin-right: 48px;
 }
 .title{
    margin-left: 0px;
 }
 .pparagraph{
    margin-left: 0px;
    margin-top: 106px;
 }
.grey, .white{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
    height: 100%;
    margin:0;
}
.greymaintitle, .greyp{
    margin-left: 0px;
}
.greyp{
    margin-top: 16px;
    height: 90px;
    margin-top:36px;
}
.white{
    height: 100%;
    margin:0;
    grid-column: 1/2;
}
.whitemaintitle{
    font-size: 20px;
    margin-left: 0px;
}
.whiteimage{
    margin-left: 0px;
}
.whitep{
    margin-left: 0px;;
}
.black{
    height: 100%;
    margin:0;
    grid-column: 2/4;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
}
.blackimage, .blackmaintitle, .blackp, .lastimage, .lastmaintitle, .lastp{
    margin-left: 0px;
}
.last{
    height: 100%;
    margin:0;
    grid-column: 4/5;
    grid-row: 1/-1;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
}
}